---
import { getI18N }from '../i18n/'
    
const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })
---

<header class="bg-black w-full h-fit p-4 fixed z-50">
    <nav class="font-index font-bold text-xl md:text-4xl xl:text-5xl flex justify-between items-center">
        <a href="/" class="text-white text-2xl hidden tlg:flex md:text-4xl  font-Logo ">
            {i18n.HEAD_NOMBRE}<span class="text-blue-500 font-Logo pr-2">{i18n.HEAD_NOMBRE_DEV}</span><svg class="w-7 h-7 md:w-12 md:h-12  hover:rotate-12 hover:transition-all"
            aria-label="JavaScript" role="img"
            viewBox="0 0 512 512"><rect
            width="512" height="512"
            rx="15%" 
            fill="#f7df1e"/><path d="M324 370c10 17 24 29 47 29c20 0 33-10 33 -24c0-16 -13 -22 -35 -32l-12-5c-35-15 -58 -33 -58 -72c0-36 27 -64 70 -64c31 0 53 11 68 39l-37 24c-8-15 -17 -21 -31 -21c-14 0-23 9 -23 21c0 14 9 20 30 29l12 5c41 18 64 35 64 76c0 43-34 67 -80 67c-45 0-74 -21 -88 -49zm-170 4c8 13 14 25 31 25c16 0 26-6 26 -30V203h48v164c0 50-29 72 -72 72c-39 0-61 -20 -72 -44z"/></svg> 
        </a>

        <ul class="text-white text-xl hidden xl:flex ">
            <li class="p-4 text-white font-bold px-4 cursor-pointer
            after:h-[2px] after:w-0 after:bg-blue-600 after:block after:transition-all duration-[500ms] hover:after:w-[100%] ease-in">
                <a href="" class="">{i18n.LINK_PRO_HEAD}</a>
            </li>
            <li class="p-4 text-white font-bold px-4 cursor-pointer
            after:h-[2px] after:w-0 after:bg-blue-600 after:block after:transition-all duration-[500ms] hover:after:w-[100%] ease-in">
                <a href="" class="hover:scale-105">{i18n.LINK_EXP_HEAD}</a>
            </li>
            <li class="p-4 text-white font-bold px-4 cursor-pointer
            after:h-[2px] after:w-0 after:bg-blue-600 after:block after:transition-all duration-[500ms] hover:after:w-[100%] ease-in">
                <a href="" class="hover:scale-125">{i18n.LINK_ABOUT_HEAD}</a>
            </li>
            <li class="p-4 text-white font-bold px-4 cursor-pointer
            after:h-[2px] after:w-0 after:bg-blue-600 after:block after:transition-all duration-[500ms] hover:after:w-[100%] ease-in">
                <a href="" class="hover:scale-125">{i18n.LINK_FORM_HEAD}</a>
            </li>

            <section class="flex text-xl m-0 p-0 icono">
                <a class="flex-row justify-center  text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55  hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-125 scale-90 opacity-90 hover:opacity-100 px-5 py-2.5" href="/"><img src="../../public/espana(1).png" alt=""></a>
                <a href="/en" class="flex-row justify-center  text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-125 scale-90 opacity-90 hover:opacity-100 px-5 py-2.5"> <img src="../../public/estados-unidos.png" alt=""> </a>  
            </section>

        </ul>

        <section class="flex text-xl h-12 xl:hidden">
            <input type="checkbox" id="check">
            <label for="check" class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>

            <a href="/" class="tlmc:pt-2 tlmc:ml-4"><img src="../../public/espana(1).png" alt="boton idioma español"></a>
            <a href="/en" class="tlg:mr-24 sm:mr-32 ml-12 my-2"><img src="../../public/estados-unidos.png" alt="Button Language EE.UU"></a>   

            <nav class="navbar">
                <a href="#" style="--i:1" >{i18n.LINK_PRO_HEAD}</a>
                <a href="#" style="--i:2">{i18n.LINK_EXP_HEAD}</a>
                <a href="#" style="--i:3">{i18n.LINK_ABOUT_HEAD}</a>
                <a href="#" style="--i:4">{i18n.LINK_FORM_HEAD}</a>
            </nav>
            
        </section>
        

    </nav>
</header>


<style>
    .navbar a{
        font-size: 1.15rem;  
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 2.25rem;
    }

    #check {
        display: none;
    }

    .icons {
        position: absolute;
        right: 5%;
        font-size: 2.8rem;
        color: #fff;
        cursor: pointer;
        display: none;
    }

    @media (max-width: 992px) {
        .header {
            padding: 1.3rem 5%;
        }   
    }

    @media (max-width: 1280px) {
        .icons{
            display: inline-flex;
        }

        #check:checked~.icons #menu-icon {
            display: none;
        }
        
        .icons #close-icon {
            display: none;
        }

        #check:checked~.icons #close-icon {
            display: block;
        }

        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(0, 0, 0, 1);
            backdrop-filter: blur(50px);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            overflow: hidden;
            transition: .3s ease;
        }

        #check:checked~.navbar {
            height: 14.7rem;
        }

        .navbar a {
            display: block;
            font-size: 1.1rem;
            margin: 1.5rem 0;
            text-align: center;
            transition: .3s ease;
            opacity: 0;
        }

        #check:checked~.navbar a {
            transform: translateY(0px);
            opacity: 1;
            transition-delay: calc(.15s * var(--i)) ;
        }
    }

</style>